<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppPisc"
        tools:targetApi="31">
        
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".notification.AppointmentReminderReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".notification.WhatsAppReminderReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:label="Dashboard" />

        <activity
            android:name=".CadastroPacienteActivity"
            android:exported="false"
            android:label="Cadastro de Paciente" />

        <activity
            android:name=".DetalhePacienteActivity"
            android:exported="false"
            android:label="Detalhes do Paciente" />

        <activity
            android:name=".ui.AppointmentScheduleActivity"
            android:exported="false" />

        <activity
            android:name=".ui.PatientListActivity"
            android:exported="false"
            android:label="Lista de Pacientes" />

        <activity
            android:name=".ui.ReportsActivity"
            android:exported="false"
            android:label="Relatórios" />

        <activity android:name=".ui.screens.WhatsAppHistoryActivity" />
        
        <activity
            android:name=".DadosPessoaisActivity"
            android:exported="false"
            android:label="Dados Pessoais" />
        
    </application>

</manifest>